/* https://colors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7 Color pallette #F7FFF7- Almost white #343434 - dark grey- almost black #2F3061 - blue dark #FFE66D - Yellow #A1C6d7 - Blue light */

/* Global styles ---------------------------*/
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center; /* Center align the text content */
}
.container h1 {
  font-size: 3.5em;
  font-family: "Helvetica Neue", Arial, sans-serif; /* Adjust the margin-top as needed */
  margin-bottom: 0px; /* Adjust the margin-bottom as needed */
  padding: 0px; /* Adjust the padding as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Navigation bar -----------------*/
.NavigationBar {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Align items horizontally at the center */
  }
  
  .NavigationBar li {
    margin: 0 50px;
    font-size: 2em;
  }
  .NavigationBar a {
    text-decoration: none; /* Remove underline from links */
  }

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section-container {
    display: flex;
    justify-content: space-between;
}

.section {
    width: 48%; /* Adjusted width to leave some space between sections */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}