/* Global styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center; /* Center align the text content */
}
.container h1 {
font-size: 3.5em;
font-family: "Helvetica Neue", Arial, sans-serif; /* Adjust the margin-top as needed */
margin-bottom: 0px; /* Adjust the margin-bottom as needed */
padding: 0px; /* Adjust the padding as needed */
display: flex;
align-items: center;
justify-content: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: relative; /* Add relative positioning to allow z-index */
  z-index: 2; /* Ensure the header is above the content */
}
.NavigationBar {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Align items horizontally at the center */
}

.NavigationBar li {
  margin: 0 50px;
  font-size: 2em;
}
.NavigationBar a {
  text-decoration: none; /* Remove underline from links */
}
.container h1 {
  font-size: 3.5em; /* Adjust the font size as needed */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.grid-container {
  display: grid;
  gap: 16px;
  padding: 16px;
}

.grid-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}


/* Media query for 1x16 layout */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Media query for 2x8 layout */
@media (min-width: 769px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query for 4x4 layout (default) */
@media (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}